
.icon-linkedin-2:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
